In [17]:
import os
import xml.etree.ElementTree as ET
import pandas as pd
# Downloading the XML files as mentioned and specifying the path.
os.chdir('D:\\arxiv\\')
#prasing the data from the tree
tree = ET.parse("NLP")
root = tree.getroot()

In [18]:
finaldata1 = {}
finaldata1["date"] = []
try:
   for i in range(8,2000):
       published = root[i][2].text
       published = published[:4]
       finaldata1["date"].append(published)
except IndexError:
   pass

In [19]:
data = pd.DataFrame(finaldata1)
#creating a new column and assigning a name to it in order to sort the papers based on the dates which are repeated.
data.insert(1,"No_of_papers","NLP")
data.head()

   date No_of_papers
0  2014          NLP
1  2018          NLP
2  2017          NLP
3  2017          NLP
4  2017          NLP

In [22]:
finaldata = data.groupby(['date'], as_index=False).count()
finaldata.head()

   date  No_of_papers
0  1994             8
1  1995            13
2  1996             8
3  1997            14
4  1998            10

In [23]:
finaldata.to_csv('NLP_count.csv', sep = ',', encoding='utf-8', index=False)

##### This the data extraction only for NLP ( 0 to 2000 entries).  Similarly, you can do it for the same paper query search for NLP (2000 to 4000, 4000 to 6000 entries etc..) and also for different papers like Machine learning, Artificial intelligence, Robotics and so on.